node_modules/
dist/
coverage/
test-results/
playwright-report/

.pnpm-store/
.cache/
.turbo/
.vanity/
.nuxt/
.output/
.next/
styled-system/

*.tsbuildinfo
auto-imports.d.ts
next-env.d.ts
.pnp.*

.DS_Store
.idea/
*.log

__archive__/
__references__/
__temp__/
